<!DOCTYPE html>
<html>
<head>
	<title>表单提交</title>
</head>
<body>

	{% for message in form.name.errors %}
		<div >{{ message }}</div>
	{% endfor %}

	 <form action = "/wtf" method = post>
         <fieldset>
            <legend>Contact Form</legend>
            {{ form.hidden_tag() }}
            
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.name.label }}<br>
               {{ form.name }}
               <br>
               
               {{ form.gender.label }} {{ form.gender }}
               {{ form.address.label }}<br>
               {{ form.address }}
               <br>
               
               {{ form.email.label }}<br>
               {{ form.email }}
               <br>
               
               {{ form.Age.label }}<br>
               {{ form.Age }}
               <br>
               
               {{ form.language.label }}<br>
               {{ form.language }}
               <br>
               {{ form.submit }}
            </div>
            
         </fieldset>
      </form>
      
</body>
</html>